body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 70px auto;
}

.header {
    
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    grid-row-start: 1;
    grid-row-end: span 2;
    border-right: 1.5px solid #e5e8ed;
}

.menu-action {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img {
    height: 40px;
}

.menu-item {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-left: 4px solid #fff;
}
.menu-item:hover{
    border-left: 4px solid blue;
    cursor: pointer;
}

.content {
    background: #f4f7fc;
}
